.screenplay-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

textarea.screenplay-text {
    display: block;
    width: 5.5in;
    min-height: 75vh;
    border: 2px solid goldenrod;
    border-radius: .5rem;
    margin: 0 auto;
}

#save-button {
    width: 9rem;
    height: 3em;
    border-radius: 50rem;
    border: 3px solid #daa520;
    background: #daa52050;
    color: #daa520;
}

#save-button:hover {
    background: #daa520;
    color: #ffffff;
    transform: scale(1.05);
}

#save-button:active {
    transform: scale(.95);
}