.screenplay-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

textarea.screenplay-text {
    display: block;
    width: 5.5in;
    min-height: 75vh;
    border: 2px solid goldenrod;
    border-radius: .5rem;
    margin: 0 auto;
}

.save-button {
    display: block;
}